@import url("./variables.css");
@import url("./header.css");
@import url("./form.css");
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    background-color: rgb(255, 254, 254);
    font-family: var(--open-sans);
}